#binaries
*.class
out/

#trunk idea user-specific files
trunk/.idea/workspace.xml
trunk/.idea/tasks.xml

#playground idea user-specific files
playground/deadok22/experiments/.idea/workspace.xml
playground/deadok22/experiments/.idea/tasks.xml
